<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@1.8.3/dist/tailwind.min.css" -->
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>¿Que hacer?</title>
</head>
<body class="bg-gray-100">

<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	<div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4 ">
            <h1 class="text-grey-darkest">¿Que hacer?</h1>
            <div class="flex mt-4">
                <form action="{{ url_for('add') }}" method="post" >
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" name="todo_text" placeholder="Añadir Tarea">
                    <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">Añadir</button>
                </form>
            </div>
        </div>

        <div>

            {% for todo in todos %}
              <div class="flex mb-4 items-center">
                <p class="w-full text-grey-darkest  {{'line-through' if todo.complete else ''}}">{{ todo.text }}</p>
                 <a href="{{ url_for('complete', id=todo.id) }}"  class="flex-no-shrink btn  btn-sm {{ 'btn-secondary' if todo.complete else 'btn-primary' }}">{{ 'Deshacer' if todo.complete else 'Hecho' }}</a>
                 <a href="{{ url_for('delete', id=todo.id) }}"  class="flex-no-shrink btn btn-sm btn-secondary">Borrar</a>
             </div>
             {% endfor %}

        </div>
    </div>
</div>


</body>
</html>
