<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@1.8.3/dist/tailwind.min.css" -->
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>¿Que hacer?</title>
</head>
<body class="bg-gray-100">

<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
	<div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4 ">
            <h1 class="text-grey-darkest">Que hacer?</h1>
            <div class="flex mt-4">
            
                <form action="{{ url_for('add') }}" method="post" >
                  <div class="form-group">
                    <label for="project-select">Elegir proyecto:</label>
                    <select id="project-select" hx-get="/tasks" hx-trigger="change" hx-target="#tasks-container" name="project_id" class="select select-bordered w-full max-w-xs">
                      {% for project in projects %}
                      <option value="{{ project.id }}">{{ project.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker" name="task_name" placeholder="Añadir Tarea">
                    <textarea name="task_description" placeholder="descripcion tarea" class="textarea textarea-bordered textarea-md w-full max-w-xs" ></textarea>
                    <button class="flex-no-shrink btn  btn-sm">Añadir</button>
                </form>
            </div>
        </div>

        <div id="tasks-container">

            {% include 'tasks.html' %}

        </div>
    </div>
</div>


</body>
</html>
