<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@1.8.3/dist/tailwind.min.css" -->
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>¿Que hacer?</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <h1 class="text-2xl font-bold text-center">Todo App</h1>
        <form action="{{ url_for('add') }}" method="post" class="mt-5">
            <input type="text" name="todo_text" class="p-2 border rounded w-64">
            <button type="submit" class="p-2 bg-blue-500 text-white rounded">Add Todo</button>
        </form>
        <ul class="mt-5 ">
            {% for todo in todos %}
                <li class="p-2 border rounded {{ 'bg-gray-300' if todo.complete else 'bg-white' }}">
                    <span class="w-1/3 {{ 'line-through' if todo.complete else '' }}">{{ todo.text }}</span>
                    <a href="{{ url_for('complete', id=todo.id) }}" class="btn {{ 'btn-secondary' if todo.complete else 'btn-primary' }}   ">{{ 'Deshacer' if todo.complete else 'Marcar como hecho' }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
