
{% for task in tasks %}
<div class="flex mb-4 items-center">
  <p class="w-full text-grey-darkest  {{'line-through' if task.complete else ''}}">{{ task.name }}</p>
  <form class="flex">
      <input type="hidden" value="{{task.id}}" name="id"></iput>
      <a href="#" hx-post="{{ url_for('complete') }}" hx-trigger="click" hx-target="#tasks-container" class="flex-no-shrink btn  btn-xs {{ 'btn-secondary' if task.complete else 'btn-primary' }}">{{ 'Deshacer' if task.complete else 'Hecho' }}</a>
      <a href="#" hx-post="{{ url_for('delete') }}" hx-trigger="click" hx-target="#tasks-container" class="flex-no-shrink btn btn-xs btn-secondary">Borrar</a>
  </form>
  </div>
{% endfor %}
