
{% for task in tasks %}
<div class="flex mb-4 items-center">
  <p class="w-full text-grey-darkest  {{'line-through' if task.complete else ''}}">{{ task.name }}</p>
  <a href="#" hx-get="{{ url_for('complete', id=task.id) }}" hx-trigger="click" hx-target="#tasks-container"  class="flex-no-shrink btn  btn-sm {{ 'btn-secondary' if task.complete else 'btn-primary' }}">{{ 'Deshacer' if task.complete else 'Hecho' }}</a>
  <form>
      <input type="hidden" value="{{task.id}}" name="id"></iput>
      <button hx-post="{{ url_for('delete') }}" hx-trigger="click" hx-target="#tasks-container" class="flex-no-shrink btn btn-sm btn-secondary">Borrar</button>
  </form>
  </div>
{% endfor %}
